# Dependencies
node_modules/

# Build output
dist/
out-tsc/

# Environment files
.env
.env.local

# Prisma
backend/prisma/migrations/

# Angular cache
.angular/

# Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
